*{
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url(imagens/tunnel-gb50cc8289_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    position: absolute;
    height: 400px;
    width: 400px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-image: url(imagens/frame-iphone.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#icones{
    position: absolute;
    
    height: 600px;
    width: 50px;
    left: 100%;
    transform: translate(-100%);
}

#home{
    background-image: url(imagens/logo-home.jpg);
    height: 40px;
    width: 39px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100px;
    margin-top: 20px;
}

#youtube{
    
    background-image: url(imagens/logo-youtube.jpg);
    height: 40px;
    width: 40px;
    margin-top: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100px;
}

#git{
    
    background-image: url(imagens/logo-github.jpg);
    height: 40px;
    width: 40px;
    margin-top: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100px;
}

#ins{
    
    background-image: url(imagens/logo-instagram.jpg);
    height: 40px;
    width: 40px;
    margin-top: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100px;
}

#twi{
    
    background-image: url(imagens/logo-twitter.jpg);
    height: 40px;
    width: 40px;
    margin-top: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100px;
}

#fac{
    
    background-image: url(imagens/logo-facebook.jpg);
    height: 40px;
    width: 40px;
    margin-top: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100px;
}

div{
    margin-bottom: 20px;
}
    
::-webkit-scrollbar{
    height: 0px;
    width: 0px;
}


iframe {
    position: fixed;
    height: 314px;
    width: 176px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    scale: 1;
}
#yotube{
    position: absolute;
    height: 768px;
    width: 432px;
    transform: translate(-50%, -50%);
    left: 26.8%;
    top: 10%;
    scale: 0.32;
}

.botao{
    box-sizing: border-box;
    box-shadow: 2px 2px 5px black;
}

.botao:hover{
    border: 2px solid rgba(212, 202, 202, 0.653);
    box-shadow: 4px 4px 10px ;
    transform: translate(-10px,-0px);
    transition: transform .3s, border 0.2s;
}